@import "http://fonts.googleapis.com/css?family=Raleway";
/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
#abc {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto;
z-index: 99999;
margin-top:0 !important;
}
img#popupclose {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer;
width:20px;
height:20px;
margin-top:0 !important;
}
div#popupContact {
position:absolute;
left:50%;
top:20%;
margin-left:-200px;
margin-top:0 !important;
}
div#popupContact form {
max-width:300px;
min-width:250px;
margin-top:0 !important;
}
p {
margin-top:30px;
}
h2 {
background-color:#EFE;
color:#000;
padding:20px 35px !important;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
textarea#popupmsg {
height:95px;
padding:10px;
resize:none;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
margin-top:0 !important;
border-radius: 0px 0px 5px 5px;
-moz-border-radius: 0px 0px 5px 5px;
-webkit-border-radius: 0px 0px 5px 5px;
}
#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#EA005A;
color:#fff;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-top:0 !important;
}