#printheader{
  width: 1024px; 
  min-height: 300px;
  height: 100%;
  background: #fff; 
  text-align: left;
  padding:25px 10%;
}

#printTitle{
position: absolute;
top:150px;
left:250px;
font-size: 28px; 
font-style: bold;

}
#image{
position: absolute;
top:80px;
left:100px;
}
#date{
position: absolute;
top:240px;
left:704px;
font-size: 20px; 
}
#question{
font-size: 23px; 
color: #111;
font-style: bold;
}
#info{
font-size: 20px; 
}
#infotext{
position: absolute;
top:270px;
left:380px;
}
#infotext1{
float: left;
}

#infotext2{
padding-left: 100px;
float: left;
}


#invoiceframe { 
  width: 1000px; 
  min-height: 600px;
  height: 100%;
  background: #fcfcfc; 
  display: inline-block; 
}

#invoiceframe option{
background: #efefef; 
}

#uploadbutton{
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	border-radius: 10px;  	
	padding: 10px 20px;
	color: #EA005A; 
	font: 18px Arial,sans-serif;
}

#choicebutton{
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	border-radius: 10px;  	
	color: #EA005A;
	margin-top: 10px;	
	font: 18px Arial,sans-serif;
	border: hidden;
}

input[type="checkbox"] {
 -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
}

/* #########################FAKTURA SLUT############################# */
/* #########################INFO BÖRJAN############################# */

/* #########################Exjobbet BÖRJAN############################# */
fieldset {
padding-bottom: 10px;
padding-top: 10px;
 display: inline-block;
}

#frame { 
  width: 1000px; 
  min-height: 600px;
  height: 100%;
  background: #fff; 
  text-align: center;
  padding:25px 0px;
}

#rowfix{
padding-bottom: 15px;
}

#chkbox{
  display: inline-block;
  margin-left: 10px;
}

#smallTitle{
text-align: left;
font-size: 20px; 
font-style: bold;
width: 50%;
margin-bottom: 10px;
}

#splitscreen{
float: left;
}
#rightscreen{
float: left;
padding-bottom: 5px;
}
#leftscreen{
margin-left: 50px;
float: left;
}
#title{
text-align: left;
font-size: 50px; 
border-bottom: 1px solid #00467F;
width: 100%;
margin-bottom: 10px;
}

#testing{
  display:inline-block;
  width: 1000px; 
  min-height: 600px;
  height: 100%;
  background: #fff; 
  text-align: left;
  padding:25px 0px;
}

#overviewforsta{
padding-bottom: 50px;
}
#overviewandra{
padding-bottom: 50px;
}
#overviewtredje{

}

/*overview testet*/
#forsta{
display:inline-block;
padding-right: 200px;
position:relative;
}

#applicantframe{
margin-left: 50px;
margin-right: 50px;
border-right: 1px solid black;
border-left: 1px solid black;
border-bottom: 1px solid black;
}

#first{
width: 600px;
float: left;
border-right: 1px solid black;
}

#second{
border-right: 1px solid black;

width: 50%;
float: left;
}

#thirdframe{
width: 25%;
float: left;
}

#makespace{
margin-bottom: 300px;
}

#overviewboxfull{
width: 830px;
max-height: 20px;
border: none;
}
#overviewboxlong{
width: 480px;
border: none;
margin-left: 5px;
margin-bottom: 5px;
}
#overviewboxmedium{
width: 380px;
border: none;
margin-left: 5px;
margin-bottom: 5px;
}
#overviewboxsmall{
width: 180px;
border: none;
margin-left: 5px;
margin-bottom: 5px;
}
#overviewboxsmini{
width: 170px;
border: none;
border-right: 1px solid black;
margin-left: 1px;
margin-bottom: 1px;
}
#overviewareatitle3{
text-align: left;
margin-left: 50px;
margin-top: 20px;
font-size: 20px;
width: 100%;
}

#overviewareatitle2{
text-align: left;
margin-left: 50px;
margin-top: 20px;
font-size: 20px;
width: 100%;
}

#overviewareatitle{
text-align: left;
margin-left: 50px;
font-size: 20px;
width: 100%;
}
#overviewtitle{
border-top: 1px solid black;
text-align: left;
font-size: 20px;
width: 100%;
margin-bottom: 10px;
}

#infoframeoverview{
  display:inline-block;
  width: 1000px; 
  min-height: 600px;
  height: 100%;
  background: #fff; 
  text-align: left;
  padding:25px 0px;
}

#buttons{
  display:inline-block;
}

#show:not(:checked) ~ p { display: none }
.reveal-if-active {
padding-top: 5px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}


input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px;
  overflow: visible;
}

#header-wrapper {
  width: 1000px;
  height: 100%;
}

#footer-wrapper{
  width: 1000px;
  height: 100%;
}
#radiomargin{
padding-left: 30px;
display: flex;
}
#radiobuttons{
padding-bottom: 3px;
padding-top: 5px;
display: flex;
}

nav ul{
  list-style:none;
  width: 1000px;
  position:relative;
  display:inline-block;
}


#infoframe {
  width: 1000px; 
  min-height: 600px;
  height: 100%;
  background: #fff; 
  text-align: left;
  padding:25px 0px;
	}

#overview{
  display: inline;
  margin: 0 5px;
  margin-left:20px;
  width: 10em;
  padding: 10px;
  text-align:center;
}
	
#huvudmeny {
  width: 100%; 
  height: auto;
  padding-bottom:10px;
}
#main-wrapper {
  width: 1000px;
  height: 100%;
}

form *:focus {
  border: 2px solid #000;
  outline: none;
}

input, textarea, select{
  font-size: 1em;
  display: block;
  margin: 0;
  padding: .5em;
}
#checked{
background-color: #fff;
}

#upload_div{
display: inline;
  padding-bottom: 10px;
  text-align: right;
  width: 15%;
}

#pdf_title{
padding-top: 30px;
}

/* Knappar [typ button,reset eller submit] */
input[type="button"], input[type="reset"], input[type="submit"] {
  display: inline;
  margin: 0 5px;
  width: 10em;
  padding: 10px;
  text-align:center;
  float: left;
}

input[type="submit"]:hover, input[type="submit"]:active, input[type="reset"]:hover, input[type="reset"]:active, input[type="button"]:hover, input[type="button"]:active {
  cursor: pointer;
  background: #000;
  color: #fff; 
}

input[type="button"]:active, input[type="button"]:active {
  background: #eee;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;

}

/* style för label */
label {
  padding-bottom: 10px;
  clear: left;
  text-align: right;
  width: 15%;
  font-family: Times New Roman;
  font-weight: bold;
  font-size: 16px;
  color: #606060;
}
/* #########################Exjobbet SLUT############################# */


#upload_form input[type="text"],
#upload_form input[type="date"],
#upload_form select,
#upload_form input[type="file"]

{
  margin: 0 auto;
  width: 75%;
  float: left;
}
/*återställ/ladda faktura knappen*/
#username{
    width:360px;
}

/* ############### name attribute .<name> ############### */
.center{
    text-align: center;
}

.error{
    background-color: #fcc;
    color: #000;
    font-weight: bold;
    display: inline-block;
    width: 1000px;
}

/* dölj innehåll */
.hide{
    display:none;
}

.ok{
	text-align: center;
    background-color: #cfc;
    color: #000;
    font-weight: bold;
    display: inline-block;
    width: 1000px;
}

/* generella inställningar för submit */
.submit {
  text-align: center;
  margin-top: 20px;
}

.tmsg {
    border-width: 5px;
    border-spacing: 3px;
    border-style: double;
    border-color: rgb(234, 0, 90);
    border-collapse: collapse;
    background-color: white;
    margin-left:auto !important;
    margin-right:auto !important;
}

.tmsg td {
    border-style: dotted;
    padding:10px 5px;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #333;
    background-color: #fff;
	text-align: center;
}

.tmsg .tdb {
    border-style: solid;
    border-color: #000;
}

.tmsg .tnb {
    border-style:none;
}

.upload_pdf{
  width: 400px;
  padding: 0 10px;
  margin: 0 auto;
  float: left;
}

/* ############### tag attribute  ############### */

b{
    font-weight:bold;
}

/* generella inställningar för body */
body{
  background: #F2F2F2; 
  color:#969;
  padding:10px;
  text-align: center;
}

/* Form höjd, marginal och padding */
form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form ul li {
  margin: 1em 0 0 0;
  padding: 0;
}

form * {
  line-height: 1em;
  text-align:left;
}

/* ändra färg på border när fältet är markerat */


/*#####################################################*/
/*#####################################################*/
/*############### huvudmeny ###########################*/
/*#####################################################*/
/*#####################################################*/

/* generella inställningar för nav */
nav{
  text-align: left;
  width: 1000px;
}

nav ul{
  list-style:none;
  width: 1000px;
  position:relative;
  display:inline-block;
}
nav ul:after{
  content:'';
  clear:both;
  display:block;
}
nav ul li{
  float:left;
  position:relative;
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
  background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
  background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
  background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
  background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
  border-right: 1px solid rgba(9, 9, 9, 0.125);
  box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
  -moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
  -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
}
nav > ul > li > ul > li:last-child:after{
  border-radius:0 0 5px 5px;
}
nav ul li:after{
  content:'.';
  text-indent:-9999px;
  overflow:hidden;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:1;
  opacity:0;	
  background-image:-webkit-gradient(linear, left top, right top, from(rgba(168,168,168,0.5)),color-stop(0.5,rgba(168,168,168,0)), to(rgba(168,168,168,0.5)));
  background-image:-moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
  background-image:-o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
  background-image:-ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
  background-image:linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
  box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
  -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
  -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
  -moz-transition:0.25s all;
  -webkit-transition:0.25s all;
  -o-transition:0.25s all;
  transition:0.25s all;
}
nav > ul > li:first-child{
  border-radius: 5px 0 0 5px;
}
nav > ul > li:first-child:after,
nav > ul > li.selected:first-child:after{
  box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
  -moz-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
  -webkit-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
  border-radius:5px 0 0 5px;
}
nav ul li:hover > ul{
  display:block;
}
nav ul li:hover:after,
nav ul li.selected:after,
nav ul li:target:after{
    opacity:1;
}
nav ul li.selected:hover:after,
nav ul li:target:hover:after{
  opacity:1;
}
nav ul:hover li.selected:after,
nav ul:hover li:target:after{
  opacity:0;
}
nav > ul > li:last-child{
  border-radius: 0 5px 5px 0;
}
nav > ul > li:last-child:after,
nav > ul > li.selected:last-child:after{
  box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
  -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
  -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
  border-radius:0 5px 5px 0;
}
#extendmenuebarbig{
width: 80px;
  display:block;
  text-decoration:none;
  color: #5d5d5d;
  font: 18px Arial,sans-serif;
  padding: 10px 10px; 
  text-align: center;
  position: relative;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
  z-index:2;
  text-decoration:none;
  white-space:nowrap;
}
#extendmenuebarsmall{
width: 50px;
  display:block;
  text-decoration:none;
  color: #5d5d5d;
  font: 18px Arial,sans-serif;
  padding: 10px 10px; 
  text-align: center;
  position: relative;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
  z-index:2;
  text-decoration:none;
  white-space:nowrap;
}
nav ul li a{
width: 40px;
  display:block;
  text-decoration:none;
  color: #5d5d5d;
  font: 18px Arial,sans-serif;
  padding: 10px 10px; 
  text-align: center;
  position: relative;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
  z-index:2;
  text-decoration:none;
  white-space:nowrap;
}


nav ul ul{
  position:absolute;
  top:100%;
  display:none;
}
nav ul ul li{
  float:none;
  position:relative;
  z-index: 10;
  text-align: center:
}
nav ul ul li:last-child{
  border-radius:0 0 5px 5px !important; 
}

nav ul a.hemikon{
  background:url('../../image/home.png') no-repeat center center;
  display: block;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  text-indent: -9999px;
  width: 16px;
}

nav ul a.logikon{
  background:url('../../image/logout.png') no-repeat center center;
  display: block;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  text-indent: -9999px;
  width: 16px;
}

th {
display: table-cell;
vertical-align: inherit;
font-weight: bold;
text-align: center;
}

table {
color: #000;
}